-var full_1 = '20 000р.';
-var full_2 = '32 000р.';
-var full_3 = '44 000р.';

-var sale_1 = '<?=$sale1;?>';
-var sale_2 = '<?=$sale2;?>';
-var sale_3 = '<?=$sale3;?>';

-var today_1 = '<?=$today1;?>';
-var today_2 = '<?=$today2;?>';
-var today_3 = '<?=$today3;?>';

-var link_1 = '<?=$link1;?>';
-var link_2 = '<?=$link2;?>';
-var link_3 = '<?=$link3;?>';

-var prepLink = '<?=$prepLink;?>';

section#prices
	.container
		.content
			+imgs('general-img general-img-packets-1', 'img/images/branch-3.png', 'Ветка')
			+imgs('general-img general-img-packets-2', 'img/images/branch-1.png', 'Ветка')
			+gt('general-title-brown', 'Выберите свой вариант участия')
			.row
				.col-md-4
					.packet.packet-1
						.packet-head
							h4.packet-head-title
								small пакет
								| СЕРЕБРО
						.packet-body
							p.packet-body-text Для тех, кто хочет освоить основы дистанционного видения и делать прогнозы на бинарные события. 
								span Включает в себя:
							ul.packet-body-list
								li 9 видеоуроков
								li 3 созвона
								li домашние задания с проверкой
								li чат поддержки с кураторами
						.packet-footer
							|
							<?php if($now<$dates[1]){;?>
							p.cost.cost-full Стоимость:
								span!=full_1
							p.cost.cost-sale Скидка:
								span#sale-1!=sale_1
							p.cost.cost-today Стоимость сегодня:
								span#today-1!=today_1
							+b('', 'button-cost', link_1, 'Выбрать','_blank', 'link-1')
							|
							|
							<?php } else {;?>
							p.cost.cost-full Стоимость:
								span.unbroken!=full_1
							+b('', 'button-cost', link_1, 'Выбрать','_blank')
							|
							|
							<?php };?>
				.col-md-4
					.packet.packet-2
						.packet-head
							h4.packet-head-title
								small пакет
								| ЗОЛОТО
						.packet-body
							p.packet-body-text Для тех, кто хочет применять  ДВ на практике, считывать события прошлого и будущего, прогнозировать результаты событий. 
								span Включает в себя: 
							ul.packet-body-list
								li всё, что входит в пакет СЕРЕБРО
								li 7 видеоуроков
								li 3 созвона
								li тренировка на реальных событиях
								li домашние задания с проверкой
								li чат поддержки с кураторами
						.packet-footer
							|
							<?php if($now<$dates[1]){;?>
							p.cost.cost-full Стоимость:
								span!=full_2
							p.cost.cost-sale Скидка:
								span#sale-2!=sale_2
							p.cost.cost-today Стоимость сегодня:
								span#today-2!=today_2
							+b('', 'button-cost', link_2, 'Выбрать','_blank', 'link-2')
							|
							|
							<?php } else {;?>
							p.cost.cost-full Стоимость:
								span.unbroken!=full_2
							+b('', 'button-cost', link_2, 'Выбрать','_blank')
							|
							|
							<?php };?>
				.col-md-4
					.packet.packet-3
						.packet-head
							h4.packet-head-title
								small пакет
								| ПЛАТИНА
						.packet-body
							p.packet-body-text Для тех, кто хочет не только полностью овладеть навыками ДВ, считывать события, но и считывать человека, исцелять себя и других людей, лечить органы в теле с помощью тонкого двойника.
								span Включает в себя: 
							ul.packet-body-list
								li всё, что входит в пакеты СЕРЕБРО и ЗОЛОТО
								li 6 видеоуроков
								li 2 созвона
								li домашние задания с проверкой
								li чат поддержки с кураторами
						.packet-footer
							|
							<?php if($now<$dates[1]){;?>
							p.cost.cost-full Стоимость:
								span!=full_3
							p.cost.cost-sale Скидка:
								span#sale-3!=sale_3
							p.cost.cost-today Стоимость сегодня:
								span#today-3!=today_3
							+b('', 'button-cost', link_3, 'Выбрать','_blank', 'link-3')
							|
							|
							<?php } else {;?>
							p.cost.cost-full Стоимость:
								span.unbroken!=full_3
							+b('', 'button-cost', link_3, 'Выбрать','_blank')
							|
							|
							<?php };?>
			|
			|
			<?php if($now < $dates[2]):?>
			.prepayment
				h4.prepayment-title Акция!!!
				p.prepayment-text Платите 1 000р., бонусом получаете 
					span#prepayment-bonus 1 000р. 
					br
					| На счет зачисляется 
					span#prepayment-credited 2 000р.
				+b('button-center', 'prepayment-button', prepLink, 'Оплатить 1 000р.', '_blank', 'prepLink')
			|
			|
			<?php endif;?>
			|
			|
			<?php if($now < $dates[1]):?>
			.timer
				h4.timer-title Скидка уменьшится через:
				.clock
			|
			|
			<?php endif;?>